.left {
	width:20%;
	height:100%;
	float:left;
}

.right {
	width: 20%;
	float:left;
	height:100%;
}

.middle {
	width:60%;
	float:left;
	height:100%;
}

textarea {
	width:100%;
	height:200px;
}

button {
	width:50%;
	float:left;
	height:50px;
}

.title, .tabs, .tableList, .query {
	width:100%;
	border: 1px solid grey;
	min-height: 1px;
	overflow: hidden;
    white-space: nowrap;
}

.tableList {
	height:auto;
}

.tabs {
	border-bottom: none;
	height:25px;
}

.tabs button {
	height:25px;
	border:none;
}

.title {
	border-top: none;
	border.bottom: none;
	background-color: #f1f1f1;
	height:25px;
}

.title div {
	background: transparent;
}

button.chosen {
	background-color: #f1f1f1;
}

button.notchosen {
	background-color: #ffffff;
}

button.notchosen:hover {
	background-color: #f1f1f1;
}

#list {
    width:100%;
	float:left;	
	padding-left: 20px;
}

div.table {
   font-size:11px; 
   width: 100%;
   border: 1px solid grey;
   border-left: none;
   border-top:none;
   float:left;
}

div.dependency {
	padding-left: 10px;
	min-height: 0px;
	overflow: hidden;
	float: left;
	width: 100%;
}

.hidden > div {
	display: none;
}

.name, .updateTime, .limit  {
    padding: 5px;
    float:left;
    margin: 0px;
    overflow: hidden;
    white-space: nowrap;
}

.name {
	width:60%;
}

.updateTime {
	width:22%;
}

.limit {
	width:8%;
}

div.table:nth-child(odd)	{
    background-color: #f1f1f1;
}

div.table:nth-child(even) {
    background-color: #ffffff;
}

div.dependency:nth-child(odd)	{
    background-color: #fffffa;
}

div.dependency:nth-child(even) {
    background-color: #f1f1ff;
}

.green {
	width:1px;
	height:1px;
	margin-top: 5px;
	margin-left: 12px;
	background: #00ff00;
	border-radius: 50%;
}

.red {
	width:1px;
	height:1px;
	margin-top: 5px;
	margin-left: 12px;
	background: #ff0000;
	border-radius: 50%;
}

.word {
	float:left;
}

.up {
	width: 0; 
	height: 0; 
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-bottom: 5px solid black;
	float:left;
	margin-left:5px;
	margin-top:3px;
}

.down {
	width: 0; 
	height: 0; 
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	
	border-top: 5px solid black;
	float:left;
	margin-left: -10px;
    margin-top: 10px;
}

.search {
	float:left;
	display:inline;
	width:100%;
}

.search div {
	float:left;
	width:50%;
	margin-bottom: 10px;
}

.search div input {
    display: block;
    margin : 0 auto;
    width: 98%;
    height:30px;
}

@media screen and (max-width: 800px) {
    .left {
		width:0%;
	}
	.right {
		width: 0%;
	}

	.middle {
		width:100%;
	}
}

@media screen and (max-width: 600px) {
    div.table {
        font-size:9px; 
    }
}
