<html lang="en">
    <head>
        <meta http-equiv="content-type" content="text/html; charset=UTF-8">
        <title>Extract sql tables</title>
        <link href="./style.css" rel="stylesheet" type="text/css">
    </head>

    <body>
        <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script> 
        <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-route.js"></script> 
        <div class="left"></div>
        <div class="middle" ng-app="app" ng-controller="LoadTables">
            <div class="query">
                <textarea id="queryText">
                </textarea>
                <button type="button" onclick="getQuery()">Get tables</button>
                <button type="button" onclick="erase()">Clear</button> 
            </div>
            <br/> 

            <div class="tabs">
                <button type="button" ng-click="tab(1)" ng-class="warehouse ? 'chosen' : 'notchosen'">warehouse</button>
                <button type="button" ng-click="tab(2)" ng-class="warehouse ? 'notchosen' : 'chosen'">stage area</button>
            </div>
            <div class="title">
                <div class="name">
                    <div class="word">name</div>
                    <div class="up" ng-click="sort(1)"></div>
                    <div class="down" ng-click="sort(0)"></div>
                </div>
                <div class="updateTime">
                    <div class="word">updated</div>
                    <div class="up" ng-click="sort(2)"></div>
                    <div class="down" ng-click="sort(3)"></div>
                </div>
                <div class="limit">limit</div>
            </div> 
            <ng-view></ng-view>
            <ul id="list"></ul> 
        </div>
        <div class="right"></div>
        <script src="./main.js" charset="utf-8"></script>   
    </body>
</html>