<html lang="en">
    <head>
        <meta http-equiv="content-type" content="text/html; charset=UTF-8">
        <title>Extract sql tables</title>
        <link href="./css/style.css" rel="stylesheet" type="text/css">
        <link href="./css/jquery-ui.css" rel="stylesheet">

    </head>

    <body>
        <script src="./javascript/jquery.js"></script>
        <script src="./javascript/jquery-ui.min.js"></script>
        <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script> 
        <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-route.min.js"></script>
        <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-sanitize.min.js"></script> 
        <script src="https://cdnjs.cloudflare.com/ajax/libs/ng-csv/0.3.6/ng-csv.min.js"></script> 
        <div class="left"></div>
        <div class="middle" ng-app="app" ng-controller="LoadTables">
            <div class="query">
                <textarea id="queryText" ng-model="query" ng-change="checkEmpty()">
                </textarea>
                <button type="button" ng-click="getQuery(query)">Get tables</button>
                <button type="button" ng-click="clearQuery()">Clear</button> 
                <dropdown list="addSchemes" selected="filter.addScheme"></dropdown>
            </div>
            <br/>
            <br/>
            <br/> 
            <div class="filter">
                <div id="date"><input type="text" id="datepicker" placeholder=" Date" ng-model="filter.date"></div>
                <div id="search"><input type="text" placeholder=" Search" ng-model="filter.name"></div>
                <dropdown list="schemes" selected="filter.chooseScheme"></dropdown>
                <button type="button" ng-csv="exportArray" filename="exportedTables.csv">Export</button>
            </div>

            <div class="tabs">
                <button type="button" ng-click="tab(1)" ng-class="warehouse ? 'chosen' : 'notchosen'">warehouse</button>
                <button type="button" ng-click="tab(2)" ng-class="warehouse ? 'notchosen' : 'chosen'">stage area</button>
            </div>
            <div class="title">
                <div class="name">
                    <div class="word">name</div>
                    <div class="up" ng-click="sort(1)"></div>
                    <div class="down" ng-click="sort(0)"></div>
                </div>
                <div class="updateTime">
                    <div class="word">updated</div>
                    <div class="up" ng-click="sort(2)"></div>
                    <div class="down" ng-click="sort(3)"></div>
                </div>
                <div class="limit">limit</div>
            </div> 
            <ng-view></ng-view>
            <ul id="list"></ul> 
        </div>
        <div class="right"></div>
         <script src="./javascript/configVariables.js" charset="utf-8"></script> 
        <script src="./javascript/main.js" charset="utf-8"></script>  
         
    </body>
</html>